
#stage-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 50px);
}

.NavBar {
  background: red;
  height: 50px;
  width: 100%;
}

.Stage {
  border: 2px solid black;

}


