
* {
  box-sizing: border-box;
}

/* light theme */
:root {
  --background-color: #f7f7f7;
  --line-color: #d8d8d8;
  --card-color: #fff;
  --text-color: #000;
  --theme-color-1: 212, 100%;
  --transition: 0.5s ease;
}

/* dark theme */
[data-theme='dark'] {
  --background-color: #15141E;
  --card-color: #1F1E27;
  --text-color: #eee;
  --line-color: #3b3b41;
  --theme-color-1: 250, 70%;
}


#App {
  background: var(--background-color);
  color: var(--text-color);
}

/* ----- MAIN HOMEPAGE ----- */

#Main {
  height: 100%;
  margin: 0;
  padding: 80px 100px;
  width: 100%;
  background: white;
  align-content: center;
}

#Main h1, h2 {
  text-align: center;
}

#Main .cardLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}

#Main .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

#Main .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

#Main .card .desc {
  padding: 20px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

/* OTHER */



/* uses flex to center the stage inside remaining space */
#stage-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 50px);
}



/* ----- UPPER NAVIGATION BAR ----- */

.NavBar {
  background: var(--card-color);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;
}

#navbar-left, #navbar-right {
  width: 300px;
}

.NavBar>button {
  border: none;
  height: 30px;
}

#menu-button {
  float: left;
}

#title-text {
  text-align: center;
  width: 100%;
  float: center;
  font-size: 20px;
}

#theme-button {
  height: 20px;
}

#theme-button, #info-button {
  float:right;
}

.NavBar>div>button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 20px;
}

.NavBar>div>button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* ---- SIZING OF STAGE AND COMPONENTS -- WILL NEED TO EDIT FOR MOBILE! ---- */
.Stage {
  display: grid;
  gap: 1px;
  grid-template-columns: auto 550px;
  background: var(--line-color);
  border: 1px solid var(--line-color);
  height: 560px !important;
  min-width: 900px;

}

.Stage div {
  background: var(--card-color);
}

#StateSpace>.graphicsContainer {
  cursor: pointer;
}


.Visualization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* ---- TABS OF PANEL ---- */

#Panel {
  background: var(--card-color);
  padding: 0;
}

.tabs {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--line-color);
  background: var(--background-color) !important;
}

.tab-list {
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1px;
  background: var(--line-color);
  border-right: 1px solid var(--line-color);
}

.tab-list li {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
}

.tab-list-inactive {
  background: var(--background-color);
}

.tab-list-active {
  background: var(--card-color);
  margin-bottom: -1px;
}

#Panel {
  max-height: 558px;
}

.panel-content {
  height: calc(100% - 32px);
}

.graphicsWrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 32px;
}

.bottomRow {
  border-top: 1px solid var(--line-color);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  font-size: 13px;
  font-family: 'IBM Plex Mono';
  min-width: 100%;
  overflow-x: scroll;
}

.bottomRow span {
  padding: 0;
  text-align: left;
  white-space: nowrap;
}

.bottomRow button {
  border: 1px solid var(--line-color);
  background: inherit;
  font-family: Alegreya;
  font-size: 13px;
  cursor: pointer;
  width: 120px;
  color: inherit;
}

.bottomRow button:hover {
  background-color: var(--line-color) !important;
}

.graphicsContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  /* height: 520px; */
}



/* ---- OPTIONS TAB ---- */

#Options {
  width: 100%;
  /* padding: 10px 20px; */
  font-size: 100%;
  /* text-align: center; */
  height: 100%;
  overflow-y: scroll;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 1px;
  /* background: var(--line-color); */
}

#Options h1 {
  text-align: left;
  margin: 20px;
  font-size: 24px;
}

.option {
  width: 100%;
  padding: 20px;
  text-align: left;
}


.option-banner {
  width: 100%;
}

.option-value {
  float: right;
}

.option input {
  background: none;
}

.option input[type="number"] {
  display: inline; 
  width: 50px;
  padding: 0 5px;
  margin-right: 5px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  /* background-color: var(--background-color); */
  border-bottom: 1px solid var(--text-color);
  text-align: right;
  -moz-appearance: textfield;
  color: var(--text-color);
}

.option input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid var(--text-color);

}

.option input::-webkit-outer-spin-button,
.option input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.option input[type="range"] {
  width: 100%;
}

/* --- START CUSTOM SLIDER PROPERTIES --- might want to pull this into a separate file*/
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: hsl(var(--theme-color-1), 50%);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid hsl(var(--theme-color-1), 50%);
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: hsl(var(--theme-color-1), 75%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: hsl(var(--theme-color-1), 50%);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: hsl(var(--theme-color-1), 50%);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid hsl(var(--theme-color-1), 50%);
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: hsl(var(--theme-color-1), 75%);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: hsl(var(--theme-color-1), 50%);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: hsl(var(--theme-color-1), 50%);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid hsl(var(--theme-color-1), 50%);
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: hsl(var(--theme-color-1), 75%);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: hsl(var(--theme-color-1), 50%);
}
input[type=range]:focus::-ms-fill-upper {
  background: hsl(var(--theme-color-1), 50%);
}
/* --- END CUSTOM SLIDER PROPERTIES --- might want to pull this into a separate file*/



/* ---- PAUSE/PLAY AND RESET BUTTONS ---- */

#pauseOrPlay {left: 30px;}
#reset {right: 30px;}

.controlButton {
  position: fixed;
  bottom: 30px;
  height: 50px;
  width: 50px;
  background: var(--card-color);
  border: none;
  cursor: pointer;
  box-shadow: rgb(0, 0, 0, 0.7) 0px 20px 30px -10px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  transition: var(--transition);
  justify-content: center;
  color: var(--text-color);
}

.controlButton:hover {
  background-color: hsl(var(--theme-color-1), 50%);
  box-shadow: hsl(var(--theme-color-1), 25%, 0.7) 0px 10px 15px -5px;
  color: white;
}

.material-symbols-rounded { /* style the pause/play icons */
  font-variation-settings: 
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

.controlButton svg {
  height: 40px;
  width: 40px;
  fill: #333;
}

.controlButton svg:hover {
  fill: hsl(var(--theme-color-1), 50%);
}


/* INFO TAB */

#Info {
  padding: 30px 20px;
  overflow: scroll;
  text-align: left;
}

#Info h1 {
  font-weight: inherit;
  margin: 10px 0;
}
